@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    height: 100%;
    display: grid;
}

.navbar-brand {
    padding: 15px;
}

nav > a {
    color: black;
    font-size: 13px;
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

nav > a:hover {
    text-decoration: underline;
    color: black;
}

.submit {
    display: inline-block;
}

.round-entry {
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    padding: 5px;
    outline: none;
    padding-left: 20px;
}

.round-entry:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
}

.search-btn {
    padding: 8px;
    margin: 30px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #222;
    font-size: 14px;
}

.search-btn:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 20%)
}

.logo-container {
    margin-top: 30%;
    padding-bottom: 8px; 
}

.search-container, .search-form, .logo-container {
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
}

img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
}

.images-txt {
    color: #4285f4;
    position: relative;
    left: 106px;
    bottom: 20px;
    white-space: nowrap;
}

.main-head {
    text-align: center;
}

.find-pages {
    text-align: left;
}

.search-container-adv {
    margin-left: 40px; 
}

.search-container-adv > .find-pages {
    margin-top: 30px;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.adv-header {
    color: #d93025;
    font-size: 20px;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dfe1e5;
}

.adv-header > span {
    margin-left: 25px;
}

.adv-label { 
    font-size: 13px;
    text-align: left; 
    display: inline-block;
    min-width: 167px;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
}

.adv-input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    outline: none;
}

.adv-btn {
    padding: 8px;
    margin: 30px;
    border-radius: 4px;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    font-size: 11px;
    margin-left: 430px;
}

.adv-btn:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-image: initial;
}



