body {
    font-family: serif;
}

.container .nav-menu {
    float: right; 
    margin: 30px;
    padding: 30px;
}

.nav-menu ul li{
    display: inline-block;
}

.search-container .search-form {
    display: grid;
    place-items: center;
}

.adv-entry {
    display: block;
    margin: 25px;
}

.submit {
    display: inline-block;
}

.btn {
    border-radius: 100px;
}

.round-entry {
    border-radius: 30px;
    border: 1px solid #ECECEC;
    padding: 5px;
}

.round-entry:hover {
    box-shadow: 2px 2px #ECECEC;
}

.search-btn {
    margin: 20px;
}

.main-head {
    text-align: center;
}