body {
    font-family: serif;
}

.container .nav-menu {
    float: right; 
    margin: 30px;
    padding: 30px;
}

.nav-menu ul li{
    display: inline-block;
}

.search-container .search-form {
    display: grid;
    place-items: center;
}

nav > a {
    color: black;
    font: Roboto,RobotoDraft,Arial,sans-serif;
}

nav > a:hover {
    text-decoration: underline;
    color: black;
}

.adv-entry {
    display: block;
    margin: 25px;
}

.submit {
    display: inline-block;
}

.btn {
    border-radius: 100px;
}

.round-entry {
    border-radius: 30px;
    border: .5px solid #ECECEC;
    padding: 5px;
}

.round-entry:hover {
    box-shadow: 2px 2px #ECECEC;
}

.search-btn {
    margin: 30px;
}

.logo-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
}

.main-head {
    text-align: center;
}